{{ define "main" }}
    <h1>{{ .Title | title }}</h1>
    {{- if or ($.Param "Author.name") (.Site.Author.name) }}
    <p class="author">
        {{- if $.Param "Author.name" }}
            {{- $.Param "Author.name" }}
            {{- if $.Param "Author.username" }}
                {{- if $.Param "Author.url" }}
                    &#40;<a href="{{- $.Param "Author.url" }}">@{{- .Params.Author.username }}</a>&#41;
                {{- else }}
                    &#40;@{{ $.Param "Author.username" }}&#41;
                {{- end }}
            {{- end }}
            {{- with $.Param "Author.bio" }}
                    — {{ . }}
            {{- end }}
        {{- else if .Site.Author.name }}
            {{- .Site.Author.name }}
            {{- if .Site.Author.username }}
                {{- if .Site.Author.url }}
                    &#40;<a href="{{- .Site.Author.url }}">@{{- .Site.Author.username }}</a>&#41;
                {{- else }}
                    &#40;@{{- .Site.Author.username }}&#41;
                {{- end }}
            {{- end }}
            {{- with .Site.Author.bio }}
                    — {{ . }}
            {{- end }}
        {{- end }}
    {{- end }}
    {{ .Content }}
{{- end }}