{{ define "main" }}
    <p>Posts under `<a href="{{ .Permalink }}">{{ .Title | title }}</a>`
    {{- range .RegularPages }}
        <article>
            <h2 class="article-title"><a class="article-link" href="{{ .Permalink }}">{{ .Title | title }}</a> &middot; <time class="list-time" datetime="{{.Date.Format "2006-01-02"}}">{{.Date.Format "02 Jan 2006"}}</time></h2>
            {{- .Summary }}
        </article>
        <p><a href="{{ .Permalink }}">Read more...</a></p>
    {{- end }}
{{ end }}