<head>
    <meta charset="utf-8">
    <title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Title }} &middot; {{ .Site.Title }}{{- end }}</title>
    {{ partial "meta.html" . }}
    {{ partial "favicon.html" . }}
    {{ $style := resources.Get "main.css" | minify }}
    <link href="{{ $style.Permalink }}" rel="stylesheet">
    {{ if or .Params.script .Site.Params.script }}<script type="module" src="{{- .Params.script | default .Site.Params.script }}"r></script>{{ end }}
    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
</head>